<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        <!-- 遍历数组 -->
        <ul>
            <li v-for="(item,index) in persons">{{item.name}}--{{item.age}}--{{index}}</li>
        </ul>
        <hr>
        <!-- 遍历对象 -->
        <ul>
            <li v-for="(key,value) in cars">{{key}}---{{value}}</li>
        </ul>
        <hr>
        <!-- 遍历字符串 -->
        <ul>
            <li v-for="(item,index) in str">{{item}}---{{index}}</li>
        </ul>
        <!-- 遍历指定次数 -->
        <ul>
            <li v-for="(a,b) in 6">{{a}}---{{b}}</li>
        </ul>
    </div>

    <script>
        // js中一旦有顺序的数据,就使用数组去存储
        Vue.config.productTip = false

        new Vue({
            el: '#root',
            data: {
                persons: [
                    { id: '001', name: '张三', age: 18 },
                    { id: '002', name: '李四', age: 19 },
                    { id: '003', name: '王五', age: 20 }
                ],
                cars: {
                    name: '奥迪',
                    price: '70万',
                    color: '黑色'
                },
                str: '你好我爱你',
            }
        })


    </script>
</body>

</html>